body {
    background-color:hsl(200,20%,5%);
    color:hsl(200,100%,60%);
}

a {
    color:inherit;
    text-decoration:none;
    padding: 10px 0px 10px 0px;
}

a:hover {
    color:inherit;
    text-decoration:underline;
}

.stat {
    text-align:center;
    margin:20px 0px 0px 0px;
    padding:0px;
    font-size:40px;
}


.done  {
    color:hsl(100,100%,60%);
}

.todo  {
    color:hsl(65,100%,60%);
}

.started  {
    color:hsl(30,100%,60%);
}

.removed  {
    color:hsl(0,100%,60%);
}


#todo-list {
    font-size:18px;

}

.task {
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    padding: 10px 20px 10px 20px;
    margin-top:40px;
}

#main-view {
    margin-top:50px;
}

.task-action-panel {    

}

.task-action-panel .action {
    font-size:18px;
    margin-right: 25px;
    font-weight:bold;
}

.hover-editor {
    display:none;
}

.hover-editor-visible {
    font-size:14px;
    margin-top:20px;
    width:90%;
    height:200px;
    display:block;
    padding:10px;
    color:#FFFFFF;
    background-color:hsl(200,100%,5%);    
    border-color:hsl(200,100%,50%);
    border-width:1px;
    border-style:dashed;
}

.hover-editor-visible:focus {
    border-color:#FFFFFF;
    border-width:1px;
    border-style:dashed;
}

.done .hover-editor-visible {
    background-color:hsl(100,100%,5%);
    border-color:hsl(100,100%,50%);
}

.todo .hover-editor-visible {
    background-color:hsl(60,100%,5%);
    border-color:hsl(60,100%,50%);
}

.started .hover-editor-visible {
    background-color:hsl(25,100%,5%);
    border-color:hsl(25,100%,50%);
}

.removed .hover-editor-visible {
    background-color:hsl(0,100%,5%);
    border-color:hsl(0,100%,50%);
}

.txt {
    white-space:pre-wrap;
}

.done .txt {
    color:hsl(100,100%,80%);
}

.todo .txt {
    color:hsl(60,100%,80%);
}

.started .txt {
    color:hsl(25,100%,80%);
}

.removed .txt {
    color:hsl(0,100%,80%);
}

#button-row {
    position:fixed;
    font-weight:bold;
    left:82%;
}

#button-row a {
    padding:0px;
}

#button-row a:hover {
    text-decoration:none;
    color:#FFFFFF;
}

#add-button {
    font-size:80px;
}

#menu-button {
    position:absolute;
    font-size:35px;
    margin-top:-30px;
}

#menu-message {
    text-align:left;
    display:none;
    position:fixed;
    background-color:hsl(200,20%,5%);
    z-index:100;
    border-width: 0px 0px 4px 0px;
    width:100%;
    height:100%;
    padding:30px;
}

#menu-message button {
    border-style:none;
    background-color:hsl(200,100%,60%);
    color:hsl(200,20%,5%);
    font-size:18px;
    width:65%;
}

#menu-message button.cancel {
    background-color:hsl(0,100%,60%);
    color:hsl(0,20%,5%);
}


#menu-message button.cancel:hover {
    background-color:hsl(0,20%,5%);
    color:hsl(0,100%,60%);
}

#menu-message button:hover {
    color:hsl(200,100%,60%);
    background-color:hsl(200,20%,5%);
    border-color:hsl(200,100%,60%);
    border-width:1px;
    border-style:solid;
}

#add-message {
    text-align:left;
    display:none; 
    position:fixed;
    background-color:hsl(200,20%,5%);
    z-index:100;
    border-width: 0px 0px 4px 0px;
    width:100%;
    height:100%;
    padding:30px;
}

#add-message button {
    border-style:none;
    background-color:hsl(200,100%,60%);
    color:hsl(200,20%,5%);
    font-size:18px;
    width:65%;
}

#add-message button.cancel {
    background-color:hsl(0,100%,60%);
    color:hsl(0,20%,5%);
}


#add-message button.cancel:hover {
    background-color:hsl(0,20%,5%);
    color:hsl(0,100%,60%);
}

#add-message button:hover {
    color:hsl(200,100%,60%);
    background-color:hsl(200,20%,5%);
    border-color:hsl(200,100%,60%);
    border-width:1px;
    border-style:solid;
}

#delete-message {
    text-align:left;
    display:none;
    position:fixed;
    background-color:hsl(200,20%,5%);
    z-index:100;
    border-width: 0px 0px 4px 0px;
    width:100%;
    height:100%;
    padding:30px;
}

#delete-message button {
    border-style:none;
    background-color:hsl(200,100%,60%);
    color:hsl(200,20%,5%);
    font-size:18px;
    width:65%;
}

#delete-message button.cancel {
    margin-top:80px;
    background-color:hsl(0,100%,60%);
    color:hsl(0,20%,5%);
}


#delete-message button.cancel:hover {
    background-color:hsl(0,20%,5%);
    color:hsl(0,100%,60%);
}

#delete-message button:hover {
    color:hsl(200,100%,60%);
    background-color:hsl(200,20%,5%);
    border-color:hsl(200,100%,60%);
    border-width:1px;
    border-style:solid;
}
